
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: white;
  /* background-color: white; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* margin: 0 5%; */
  padding: 50px 5%;
  position: absolute;
  width: 100%;
  background-color: rgb(56,56,56);
}

nav a {
  all: unset;
  text-decoration: none;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  cursor: pointer;
  background: linear-gradient(90deg, 
  #8FB3FF 0%,  
  #A37FCF 50%,
  #D41D6D 100%);
  background-clip: text;
  color: transparent;
}

nav li {
  list-style: none;
}

nav ul .navbar_divider{
  border-left: 1px solid gray;
  margin:0 8px;

}

nav .logout:hover {
  border: solid 1px rgb(220, 49, 49);
  background-color: transparent;
  padding: 7px 15px;
}

nav .logo ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

nav .logo img {
  width: 50px;
  height: 50px;
}

nav .links ul {
  display: flex;
}

nav .contact_container{
  display: flex;
}

nav .contact_container li{
  transition: transform 0.1s ease-in-out;
}

nav .contact_container a{
  padding: 4px 8px;
}

nav .contact_container li:hover{
    border-bottom: 0px;
    transform: translateY(-4px);
}
nav .contact_container a:hover{
  border-bottom: 0px;
}
.links ul li a.active {
  background-color: #3182ce;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: transform 0.3s ease;
}

.menu-icon.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 1111px) {
  nav .logo ul {
    gap: 5px;
  }

  nav .logo img {
    width: 40px;
    height: 40px;
  }

  nav .links ul {
    display: none;
    flex-direction: column;
    position: absolute;
    /* top: 110px; */
    margin-top: 10px;
    left: 0;
    background-color: #242424;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 100;
    height: auto;
  }

  .menu-icon {
    display: flex;
  }

  .links.open ul {
    display: flex;
    align-items: flex-end;
    gap: 18px;
  }

  nav .links ul li {
    margin: 0 20px;
  }
  nav a:hover {
    text-decoration: none;
  }
  nav .navbar_divider{
    border-bottom: 1px solid gray;
    width: 100px;
    position: relative;
    z-index: 90000000;
  }

  nav .contact_container{
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end;
    gap:1px !important;
    padding: 40px 30px 0 0 !important;

  }

  nav .contact_container li{
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
}
