.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2em 0;
}

img.githubIcon{
    width: 20px;
}

.footer .contact_container{
    display: flex;
    gap: 20px;
}
.contact_container a{
transition: transform 0.1s ease-in-out;
}

.contact_container a:hover{
    transform: translateY(-4px);
}