/* #root{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

} */

body{
    height: 100vh;
}

.to-top-container{
  width: 100%;
  text-align: center;
}
.to-top{
    /* background-color: #007bff; */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    background: linear-gradient(90deg, 
    #8FB3FF 0%,  
    #A37FCF 50%,
    #D41D6D 100%);
    text-decoration: none;
}

.msg{
    color: white;
}
/* For Webkit browsers (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
    display: none;
  }
  
  
  